<!--This is the page which renders when a food has been added-->
<!doctype html>
<html lang="en">
    <head>
        <title>Yay! You have added a new food for <%=shopName%></title>
        <!-- Linking my CSS -->
        <link rel="stylesheet"  type="text/css" href="main.css" />
    </head>
    <body>
        <h1>Congrats! You have successfully added/updated a new food for <a href="/"><%=shopName%></a></h1>
        <p>Here are the details:</p>
        <p><b>Username:</b> <%=foodAdded[0]%></p>
        <p><b>Name:</b> <%=foodAdded[1]%></p>
        <p><b>Typical Values for:</b> <%=foodAdded[2]%></p>
        <p><b>Unit of the typical value:</b> <%=foodAdded[3]%></p>
        <p><b>Carbs:</b> <%=foodAdded[4]%></p>
        <p><b>Fat:</b> <%=foodAdded[5]%></p>
        <p><b>Protein:</b> <%=foodAdded[6]%></p>
        <p><b>Salt:</b> <%=foodAdded[7]%></p>
        <p><b>Sugar:</b> <%=foodAdded[8]%></p>
    </body>
</html>

